@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: purple;
  background-image: url(img/page_background.png);
  font-family: "Press Start 2P", cursive;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: magenta;
}

.nav-logo {
  margin-left: 40px;
}

.nav-content {
  display: flex;
  list-style: none;
  margin-right: 10px;
}

.nav-content li {
  padding: 10px;
}

.content {
  display: flex;
  justify-content: center;
}

canvas {
  height: 300px;
  width: 400px;
  border: 5px solid purple;
}

.content ul {
  list-style: none;
}

.card {
  flex: 1;
  font-size: 18px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 10px double purple;
  margin: 50px;
  color: #fff;
  line-height: 2rem;
}

.card .icon {
  position: relative;
  top: 5px;
}

.card .boost-icon {
  width: 24px;
  height: 24px;
  position: relative;
  top: 5px;
}

mark {
  background: #fff;
  padding: 5px;
}
